 <!-- Page Title -->
 <div class="page-title">
<i class="icon-comments page-title-icon"></i>
<h2>Blog</h2>
</div>
<!-- Blog text Text -->
        <div class="about-us container">
            <div class="row">
                <div class="about-us-text span9">

            <% @blogs.each do |blog| %>

           <h4> <td><%= blog.title %></td> </h4>
          <p>
            
           <td><%= raw blog.content %></td>
           </p>
           <br>

<!-- Blog Entries -->
<div class="show_blog_links">

</div>
<br>

<div class="social_blog_links">
<a href="https://www.facebook.com/jurgens.smit"><i class="icon-facebook"></i> </a>&nbsp;
<a href="https://twitter.com/JurgensSmit"><i class="icon-twitter"></i> </a></i> &nbsp;
<a href="https://plus.google.com/101612517160357782271/posts"><i class="icon-google-plus"></i> </a></i> &nbsp;
<a href="https://github.com/JurgensSmit"><i class="icon-github"></i> </a></i> &nbsp;
</div>

    </style>
  </head>
  <body>
                </div>
            </div>
        </div>