
<%= image_tag "Jurgens.jpg"%>
    <br>
    <br>
    <p>
    <br>I enjoy taking complex problems and turning them into simple and beautiful solutions. I consider myself to be extremely fortunate, because my ‘job’, such as it is, simply entails doing what I love. I embrace the nerd.</br>
    <br>I like long walks on the beach, sunsets, teddy bears, kittens, rainbows and newborn babies. No, seriously. I do. Well, maybe just kittens. Ha!</p>
    <br>

        <div class="social_blog_links">
        <a href="https://www.facebook.com/jurgens.smit"><i class="icon-facebook"></i> </a>&nbsp;
        </div>


