
<%= image_tag "Jurgens.jpg"%>
    <br>
    <br>
    <p>
    My name is Jurgens Smit. I am a tireless seeker of knowledge, occasional purveyor of wisdom and also, coincidentally, a <strong>Ruby on Rails</strong> developer. I am originally from Cape Town, South Africa. Sydney, Australia is the place where all the magic happens.</br>
    <br>I enjoy taking complex problems and turning them into simple and beautiful solutions. I consider myself to be extremely fortunate, because my ‘job’, such as it is, simply entails doing what I love. I embrace the nerd.</br>
    <br>I like long walks on the beach, sunsets, teddy bears, kittens, rainbows and newborn babies. No, seriously. I do. Well, maybe just kittens. Ha!</p>
    <br>

        <div class="social_blog_links">
        <a href="https://www.facebook.com/jurgens.smit"><i class="icon-facebook"></i> </a>&nbsp;
        <a href="https://twitter.com/JurgensSmit"><i class="icon-twitter"></i> </a></i> &nbsp;
        <a href="https://plus.google.com/101612517160357782271/posts"><i class="icon-google-plus"></i> </a></i> &nbsp;
        <a href="https://github.com/JurgensSmit"><i class="icon-github"></i> </a></i> &nbsp;
        </div>


