<!-- Page Title -->
<div class="page-title">
<i class="icon-user page-title-icon"></i>
<h2>Background</h2>
</div>

        <!-- About Us Text -->
        <div class="about-us container">
            <div class="row">
                <div class="about-us-text span9">
                    <p>
                   My name is Jurgens Smit. I am a tireless seeker of knowledge, occasional purveyor of wisdom and also, coincidentally, a <strong>Ruby on Rails</strong> developer. I am originally from Cape Town, South Africa. Sydney, Australia is the place where all the magic happens.</br>

                    <br>I enjoy taking complex problems and turning them into simple and beautiful solutions. I consider myself to be extremely fortunate, because my ‘job’, such as it is, simply entails doing what I love. I embrace the nerd.</br>

                    <br>I like long walks on the beach, sunsets, teddy bears, kittens, rainbows and newborn babies. No, seriously. I do. Well, maybe just kittens. Ha!</p>

    </style>
  </head>
  <body>
                </div>
            </div>
        </div>